* {
    margin: 0;
    padding: 0;
    font-family: montserrat;
}

.center-box {
    background-color: darkblue;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-item {
    background-color: peachpuff;
    height: 100px;
    width: 100px;

}

#nav-bar {
    background-color: cornflowerblue;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
}

img {
    height: 80px;
    width: 80px;
    margin-right: 100px;
}

h1 {
    color: white;
}

ul {
    display: flex;
    justify-content: space-evenly;
    width: 65%;
}

li {
    display: inline;
    font-size: 20px;
}

a {
    color: white;
    text-decoration: none;
}